body {
  padding: 0;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url('cute-background.jpg') no-repeat center center fixed;
  background-size: cover;
}

.button {
  position: relative;
  width: 200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.button a {
  color: white;
  font-weight: bold;
  font-size: 26px;
  text-align: center;
  text-decoration: none;
  background-color: #e265cd;
  display: block;
  position: relative;
  padding: 20px 40px;
  box-shadow: inset 0 1px 0 #d266d6, 0 10px 0 #561858;
  border-radius: 5px;
}
.button a:active {
  top: 10px;
  background-color: #ac0ccc;
  box-shadow: inset 0 1px 0 #e999e5, inset 0 -3px 0 #992686;
}

.button::after{
  content: '';
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -15px;
  left: -4px;
  z-index: -1;
  background-color: black;
  border-radius: 5px;
}